<div class="container">
	<h1>Tasks:</h1>
	<ul>
		<% @tasks.each do |task| %>
			<li><%= task.completed ? "O" : "X" %><%= link_to task.title, task_path(task) %>
				<button class="btn btn-success "><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: "Delete #{task.title}?" }, class: "link" %></button>
			</li>
		<% end %>
	</ul>
	<%= link_to 'Create a new task!', new_task_path, class: 'btn btn-primary m-4' %>
	<!-- <i class="fas fa-pencil-alt"></i> -->
</div>

<!-- style: 'text-decoration: none; color: white;' -->